[Unit]
Description=pipers worker
ConditionPathExists=/home/{{ ansible_user }}/pipers/
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/{{ ansible_user }}/
ExecStart=/home/{{ ansible_user }}/go/bin/pipers -worker
EnvironmentFile=/home/{{ ansible_user }}/.env

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pipers

[Install]
WantedBy=multi-user.target
